<!-- FormsModule feature
  <input type="text" [(ngModel)]="name">
  - per creare un input che scrive a specchio nel paragrafo
  - per lo stile disattivare bootstrap
  <p>{{ name }}</p> -->

     <!-- The double curly braces are Angular's interpolation binding syntax -->
     <h1>{{ title }} App </h1>

     <nav>
       <a routerLink="/dashboard">Dashboard</a>
       <a routerLink="/heroes">Heroes</a>
     </nav>

     <!-- The <router-outlet> tells the router where to display routed views. -->
     <router-outlet></router-outlet>
     <!-- <app-heroes></app-heroes> -->

     <app-messages></app-messages>
  
