<!-- data binding to the hero property -->
<!-- <p>{{ hero }}</p> -->
<h2>My Heroes</h2>
<ul class="heroes">
    <!-- The *ngFor is Angular's repeater directive
    It repeats the host element (<li>) for each element in a list. -->
    <!-- Take each element (a placeholder) in the heroes array, store it in the local hero looping variable, and make it available to the templated HTML for each iteration. -->
    <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero" 
        (click)="onSelect(hero)">
        
     <!-- [class.selected]="..." -> The class binding makes it easy to add and remove a CSS class conditionally. -->
     <!-- (click)="..." click event binding ->   -->

        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </li>
</ul>

<hr>
<!-- a property binding to give the parent HeroesComponent 
    control over the child HeroDetailComponent. -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
